<!DOCTYPE html>
<html>
<head>
  <title>Knowtation</title>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Open+Sans:400,700"%>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons"%>
  <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= favicon_link_tag 'favicon.png' %>
  <%= csrf_meta_tags %>

  <script type="text/javascript">
    window.assets = {
      notation: <%= image_url("app/assets/images/notation/notation1.jpg") %>,
      thumbnail: <%= image_url("app/assets/images/thumbnails/0007_samblakelock_jingle-bells_thumb.jpg") %> 
    }
  </script>
</head>
<body>

<%= yield %>

</body>
</html>
