<!DOCTYPE html>
<html>
<head>
  <title>Knowtation</title>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Open+Sans:400,700"%>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons"%>
  <%= javascript_include_tag "https://use.fontawesome.com/8649c50d22.js" %>
  <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= favicon_link_tag 'favicon.png' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script type="text/javascript">
    window.assets = {
      notation: "<%= image_url(random_notation) %>",
      thumbnail: "<%= image_url(random_thumbnail) %>"
    }
  </script>
</head>
<body>

<%= yield %>

</body>
</html>
